:root {
  --main: #5d5fef;
  --light-blue: #f0f9ff;
  --gray: #f3f4f6;
  --dark-gray: #111827;
  --white: white;
  --default-radius: 6px;
  --default-border: 1px solid #e2e3e5;
}

.App {
  display: flex;
  justify-content: center;
  padding: 76px;
  gap: 56px;
  font-size: 14px;
  font-weight: 500;
  font-family: 'Inter';
}

#palette {
  width: 240px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.display {
  height: 52px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 4px 8px;
  color: var(--dark-gray);
  background: var(--gray);
  font-weight: 800;
  font-size: 36px;
}

button {
  cursor: pointer;
  height: 48px;
  width: 100%;
  /*for hover border*/
  padding: 0 1px;
  border: var(--default-border);
  border-radius: var(--default-radius);
  background: var(--white);
  transition: 0.2s transform;
}

.btn_outlined:hover {
  padding: 0;
  border: 2px solid var(--main);
}

button:active {
  transform: scale(0.98);
}

.btn_contained {
  color: var(--white);
  background: var(--main);
}

.paper {
  padding: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06), 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.greyed-out {
  cursor: not-allowed;
  opacity: 50%;
  user-select: none;
}

[draggable='true'] {
  cursor: move;
}

.disabled * {
  pointer-events: none;
}
