:root {
  --main: #5d5fef;
  --light-blue: #f0f9ff;
  --gray: #f3f4f6;
  --dark-gray: #111827;
  --white: white;
  --default-radius: 6px;
  --default-border: 1px solid #e2e3e5;
}

.App {
  display: flex;
  justify-content: center;
  padding: 76px;
  gap: 56px;
  font-size: 14px;
  font-weight: 500;
  font-family: 'Inter';
}

#palette {
  width: 240px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 68px;
}

#result {
  height: 480px;
  width: 243px;
}

.display {
  height: 52px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 4px 8px;
  color: var(--dark-gray);
  background: var(--gray);
  font-weight: 800;
  font-size: 36px;
}

button {
  cursor: pointer;
  height: 48px;
  width: 100%;
  /*for hover border*/
  padding: 0 1px;
  border: var(--default-border);
  border-radius: var(--default-radius);
  background: var(--white);
  transition: 0.2s transform;
}

.btn_outlined:hover {
  padding: 0;
  border: 2px solid var(--main);
}

button:active {
  transform: scale(0.98);
}

.btn_contained {
  color: var(--white);
  background: var(--main);
}

.paper {
  padding: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06), 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.greyed-out {
  cursor: not-allowed;
  opacity: 50%;
  user-select: none;
}

[draggable='true'] {
  cursor: move;
}

.not-allowed {
  cursor: not-allowed;
}

.disabled * {
  pointer-events: none;
}

.empty {
  position: relative;
  text-align: center;
  color: #6b7280;
  font-size: 12px;
  font-weight: 400;
  align-items: center;
  justify-content: center;
  border-radius: var(--default-radius);
}

.empty,
.result__container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 7px 0 4px;
}

.empty svg {
  padding-bottom: 12px;
}

.empty * {
  pointer-events: none;
}

.empty strong {
  font-size: 14px;
  font-weight: 500;
  color: var(--main);
  margin-bottom: 4px;
}

.empty-candrop {
  background: var(--light-blue);
}

.empty::before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  border-radius: var(--default-radius);
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='6' ry='6' stroke='%23C4C4C4FF' stroke-width='4' stroke-dasharray='4%2c9' stroke-dashoffset='3' stroke-linecap='square'/%3e%3c/svg%3e");
}

.divider {
  position: relative;
  pointer-events: none;
  width: 100%;
  height: 1px;
  background: var(--main);
  margin-bottom: -1px;
}

.divider::before,
.divider::after {
  display: block;
  position: absolute;
  height: 5px;
  width: 5px;
  background: var(--main);
  transform: rotate(45deg) translateX(-3px);
  content: '';
}

.divider::after {
  right: 0;
  transform: rotate(135deg) translateX(-3px);
}

.result__wrapper {
  padding: 8px 0;
  user-select: none;
}

.toggle {
  color: #4d5562;
  display: flex;
  padding: 1px;
  height: 38px;
  border-radius: var(--default-radius);
  background: var(--gray);
}

.toggle__mode {
  cursor: pointer;
  flex-grow: 1;
  display: flex;
  justify-content: space-evenly;
  padding: 0 4px;
  align-items: center;
  border: 1px solid transparent;
}

.toggle__mode_active {
  background: var(--white);
  border-radius: 5px;
  border: var(--default-border);
}

.toggle__mode_active path {
  stroke: var(--main);
}
